body {
    font-family: sans-serif;
    background-color: rgb(209, 222, 250);
}

.container {
    max-width: 1200px;
    padding: 10px;
    margin: 0 auto;
}

.header {
    background-color: #364f6b;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.header2{
    text-align: center;
    margin: -30px 0 0 0;
}

.header h1 {
    margin: 0;
    font-size: 2em;
}

.blockcontent {
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(209, 222, 250);
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(137, 143, 148);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

a {
    color: #3f72af;
    text-decoration: none;
}

.produtos-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    margin: 0 auto;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.campo input, 
.campo textarea, 
.campo select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.campo textarea {
    resize: vertical;
    min-height: 100px;
}

.salvar {
    background-color: rgb(102, 192, 102);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    max-width: 200px;
    margin-top: 15px;
}

.salvar:hover {
    background-color: rgb(7, 158, 7);
}

.footer{
    font-size: 1.3em;
    text-align: center;
}